<h1>{{gameState.title}}</h1>
<table mat-table [dataSource]="gameState.players">
  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let player"> {{player.name}} </td>
  </ng-container>

  <!-- CurrentRound Column -->
  <ng-container matColumnDef="PreviousScore">
    <th mat-header-cell *matHeaderCellDef> Previous Score </th>
    <td mat-cell *matCellDef="let player"> {{player.previousScore}} </td>
  </ng-container>

  <!-- Score Column -->
  <ng-container matColumnDef="Score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let player"> {{player.score}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

