.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 100%;
    margin: 10px;
}

.name-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

mat-list {
    flex-grow: 1;
    overflow: auto;
    max-height: 40vh;
    width: 100%;
}
.next-container {
    height: 80px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}